# Makefile to package PackIt

VERSION=0.6.4-1
PACKAGES=PackIt_$(VERSION)
INSTALL_TO=Temp/Apps/Development

# Detect host
HOST := $(shell uname -s)
ifeq ($(HOST),)
  # Assume RISC OS
  HOST := riscos
else
  ifeq ($(HOST),RISC OS)
    HOST := riscos
  endif
endif

ifeq ($(HOST),riscos)
CC_PATTERN=cc
TOOL_PATH=""
ZIP=zip
else
CC_PATTERN=*.cc
TOOL_PATH=$(GCCSDK_INSTALL_ENV)/bin/
ZIP=$(GCCSDK_INSTALL_ENV)/ro-path ../unix-zip
endif

all: build pkg

pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	cp RiscPkg/Copyright Temp/RiscPkg
	cp -r !PackIt $(INSTALL_TO)
	# Temporarily delete HTML pages - will remove from SVN with next release
	rm -rf $(INSTALL_TO)/!PackIt/html
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	$(TOOL_PATH)riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../RiscPkg/$@
	$(ZIP) -r ^.RiscPkg.$@ * -i@^.RiscPkg.$(firstword $(subst _, ,$@))/inc

build:
	make
